$lightgrey: rgb(236, 224, 224);
$darkFont: grey;
$white: white;
$lighterFont: rgb(163, 153, 153);
$border: rgb(211, 191, 191);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  min-height: 100vh;
  background: $lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // display: grid;
  justify-items: center;

  gap: 1.5rem;
  padding: 1rem;
}
header{
  width: min(650px, 90%);
  border-radius: .3rem;
  outline: 1px solid $border;
  input{
    background: $white;
    width: 100%;
    border: none;
    outline: none;
    font-size: .9rem;
    padding: .7rem 1.1rem;
    color: $lighterFont;
  }
}
main{
  border-radius: .3rem;
  outline: 1px solid $border;
  background: $white;
  width: min(650px, 90%);
  padding: 1rem;
  display: grid;
  gap: 1rem;
}
@media only screen and (min-width: 400px) {
  main{
    gap: 2rem;
    padding: 2rem;
  }
  .card{
    grid-template-columns: 110px 1fr;
    height: 110px;
    gap: 1.5rem;

    .img{
      width: 100%;
    }
  }
}
.load{
  margin-inline: auto;
}
.card{
  width: 100%;
  display: grid;
  grid-auto-rows: 100%;
  grid-template-rows: 110px auto;
  gap: 1rem;

  .img{
    background: $lightgrey;
    width: 110px;
    height: 110px;
    object-fit: cover;

    &::before{
      display: none;
      height: 2px;
      width: 100%;
      content: "";
      z-index: 3;
      background: $white;
    }
  }
  .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .6rem;

    h3{
      color: $darkFont;
    }
    p{
      color: $lighterFont;
    }
  }
}
.end{
  background: $white;
  outline: 1px solid $border;
  width: min(650px, 90%);
  text-align: center;
  padding: 1.5rem;
  color: $darkFont;
  border-radius: .3rem;
}
